input[type="button"] {
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #008C8C;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    font-family: Arial, "Arial Black";
    border-style: none;
    border-width: 0;
    clear: none;
    margin-left: 6px;
    text-align: center;
    padding-top: 5px;
    padding-left: 6px;
}

input[type="reset"] {
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #008C8C;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    font-family: Arial, "Arial Black";
    border-style: none;
    border-width: 0;
    clear: none;
    margin-left: 6px;
    text-align: center;
    padding-top: 5px;
    padding-left: 6px;
}

input[type="submit"] {
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #008C8C;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    font-family: Arial, "Arial Black";
    border-style: none;
    border-width: 0;
    clear: none;
    margin-left: 6px;
    text-align: center;
    padding-top: 5px;
    padding-left: 6px;
}
.btns {
    margin-top: 16px;





}
#btns {
    width: 300px;
    height: 50px;
    float: none;
    /* [disabled]padding-top: 73px; */
    /* [disabled]margin-top: 80px; */
    /* [disabled]padding-bottom: 27px; */



}

#tamanho_150 {
    width: 150px;
}

.txtpersonalizado {
    border-radius: 0;
    /* [disabled]border-color: #C8C8C8; */
    border-style: inset;
    border-width: 1px;
}

#btncadastrar_voltar {
    float: left;
}
.centralizar {
    float: none;
    width: 80px;
    height: 60px;


}
input[type="button"]:hover {
    background-color: #FFFFFF;
    color: #008C8C;
}
#btn_direita {
    float: right;
    margin-top: 18px;
}
.margins {
    margin-right: 13px;
}
#btn_logout {
    margin-top: -18px;
    margin-left: 0px;
    margin-right: 6px;
    width: 70px;
    height: 25px;
    padding-top: 4px;
    padding-left: 4px;
}
#margin_bottom {
    /* [disabled]margin-bottom: 26px; */
    /* [disabled]padding-bottom: 29px; */
    /* [disabled]padding-top: 16px; */
}
#btn_pesquisarNoti {
    padding-top: 2px;
    float: right;
    background-color: #008C8C;
    width: 65px;
    height: 28px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-top: -28px;
    font-family: Arial, "Arial Black";
    color: #FFFFFF;
    font-size: small;
    border-width: 0px;

}
